@import url(https://fonts.googleapis.com/css?family=Slabo+27px|Open+Sans:400,300,300italic,400italic,600,600italic);

@import url(https://fonts.googleapis.com/css?family=Poiret+One);
/*font-family: 'Poiret One', cursive;*/

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300italic,400italic,600,600italic);
/* font-family: 'Josefin Sans', sans-serif;*/


/* BODY */
body {
    font-family: 'Open Sans';
    background color: cornsilk;
    margin= 0 auto;
}

.wrap {
    height: auto;
    width: 100%;
}

a{
    text-decoration: none;
}

/* Grey Header with GNOME logo */
div#header {
    height: 80px;
    width: 100%;
    background-color: #48494A;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}
div#header .logo a {
    height: auto;
    width: 50%;
    float: left;
    padding-left: 12px;
    padding-top: 20px;
    padding-bottom: 15px;
    
    font-family: 'Poiret One', cursive;
    font-style: oblique;
    font-size: 2.5em;
    color: #F4D03F;
    text-align: left;
    
   
margin-left: 15px;   
}

div#header .tagline a {
    height: auto;
    width: auto;
    float: right;
    padding-right: 12px;
    padding-top: 50px;
    padding-bottom: 15px;
        
    font-family: 'Open Sans';
    font-size: .8em;
    color: #FFF;
    text-align: right;   
}
/* End of header */

/*Insert image 1 */

div#pic1 {    
    height: 200px;
    width: 100%
}

/* format text in pic */

div .left1 {
    padding-left: 12px;
    padding-top: 20px;
    padding-bottom: 90px;
}


div .text1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
 }

div .text1 span {
    font-style: italic;
}

h3#box {
    border-top-color border-bottom-color:darkgray;
    border-top-style border-bottom-style: solid;
    font-family: 'Poiret One', cursive;
    font-style: italic;

}

div#content img {
    -webkit-user-select: none;
    align-self: center;
    width: 40%;
    height: 85%;
    margin-left: 30%;
    margin-top: 0 auto;
}